.wrapper {
    overflow: hidden;
    margin-top: 40px;

}
.sliding-background {
    background: url("Homepageimage.jpg") repeat-x;
    height: 510px;
    width: 4000px;
    animation: slide 30s linear infinite;

}



@keyframes slide{
    0%{
        transform: translate3d(-1692px, -10px, 0);
    }
    100%{
        transform: translate3d(0, -10px, 0);
    }
}

.carousel-inner {
    height: 500px;

}

.carousel-control-next-icon .carousel-control-prev-icon{
    display: none;
}

.carousel-indicators,
.carousel-indicators li {
    visibility: hidden;
}




